<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="robocode:path" value="C:\robocode" />
    <add key="robocode:robots" value="sample.RamFire, PP.FooRobot" />
    <add key="robocode:rounds" value="5" />
    <add key="robocode:gui" value="false" />
    <add key="robocode:width" value="800" />
    <add key="robocode:height" value="600" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>
